/* #region screen widths*/

$large: 960px;
$medium: 768px;
$small: 640px;
$xsmall: 480px;
$xxsmall: 400px;

/* #endregion screen widths*/

/* #region font sizes*/

$xlageFonts: 24px;
$largeFonts: 20px;
$normalFont: 16px;
$mediumFont: 14px;
$smallFont: 11px;
$xsmallFont: 9px;

/* #endregion font sizes*/

/* #region timetable widths*/

$timetableWidth: 50px;
$timetableSmallWidth: 40px;
$timetableMinWidth: 35px;
$timetableMinSmallWidth: 30px;

/* #endregion timetable widths*/

/* #region cells heights*/

$dayHeaderHeight: 25px;
$dayCellHeight: 40px;

/* #endregion cells heights */

/* #region colors */

$calendarBorderColor: #000;
$calendarHeaderBackColor: #ccc;
$oddRowBackColor: #eee;
$evenRowBackColor: #fff;

$eventBackColor: #2AABE8;

/* #endregion colors*/

/* #region scheduler */

$dayInWeek: 7;

/* #endregion scheduler */