@import '_mixins';
@import '_variables.scss';


.rc-calendar {
	display: block;
	width: 100%;
	height: 100%;
	font-size: $normalFont;

	.rc-icon {
		&.rc-icon-close:after {
			content: "\2716";
		}

		&.rc-icon-left-arrow:before {
			content: "\2190";
		}

		&.rc-icon-right-arrow:before {
			content: "\2192";
		}
	}

	.rc-header {
		display: block;
		padding: 0 5px;

		div {
			display: inline-block;
		}

		& > div {
			margin-right: 15px;
		}

		.rc-arrows {
			font-size: $largeFonts;

			& > div {
				cursor: pointer;
			}
		}
	}

	.rc-scheduler {
		border: 2px solid $calendarBorderColor;
		display: block;

		.rc-day-header {
			height: $dayHeaderHeight;
			line-height: $dayHeaderHeight;
			text-align: center;
			background-color: $calendarHeaderBackColor;
			@include text-overflow(ellipsis);
			white-space: nowrap;

			&.small {
				display: none;
			}
			@include respond-to(medium) {
				&.small {
					display: block;
				}

				&.big {
					display: none;
				}
			}
		}

		.rc-day-time {
			position: relative;

			& > div {
				height: $dayCellHeight;

				&:nth-child(2n-1) {
					background-color: $oddRowBackColor;
				}
				&:nth-child(2n) {
					background-color: $evenRowBackColor;
				}
			}
		}

		.rc-timetable {
			float: left;
			& > div {
				text-align: center;
				line-height: $dayCellHeight;
			}

			width: $timetableWidth;
			min-width: $timetableMinWidth;

			@include respond-to(large) {
				width: $timetableSmallWidth;
				min-width: $timetableMinSmallWidth;
			}
		}

		.rc-days {
			margin-left: $timetableWidth;
			position: relative;
			font-size: 0;

			@include respond-to(large) {
				margin-left: $timetableSmallWidth;
			}

			.rc-day {
				border-left: 1px solid $calendarBorderColor;
				width: part-of($dayInWeek);
				display: inline-block;
				@include word-break("break-word");
				@include box-sizing(border-box);
				font-size: $normalFont;
			}

			.rc-timings {
				position: absolute;
				top: $dayHeaderHeight;
				left: 0;
				right: 0;
				bottom: 0;

				.rc-timing-grid {
					width: 100%;
					height: 100%;
				 
					.rc-timing-column{
						height: 100%;
						width: part-of($dayInWeek);
						display: inline-block;
						position: relative;

						.rc-event {
							background-color: $eventBackColor;
							border-radius: 5px;
							padding: 0;
							overflow: hidden;
							position: absolute;
							right: 0;
							left: 1px;

							.rc-time {
								padding-right: 16px;
								padding-left: 4px;
								margin-top: 4px;
								height: 1.1em;
								overflow: hidden;
								text-decoration: underline;
								@include text-overflow(ellipsis);
								white-space: nowrap;
								font-size: $normalFont;

								@include respond-to(large) {
									font-size: $mediumFont;
								}
								@include respond-to(medium) {
									font-size: $smallFont;
								}
								@include respond-to(small) {
									padding-top: $smallFont;
									padding-right: 0;
								}
							}

							.rc-event-resizer {
								position: absolute;
								right: 0;
								left: 0;
								bottom: 0;
								height: $smallFont;
								line-height: $smallFont;
								text-align: center;
								cursor: s-resize;
								background-color: $eventBackColor;
								font-size: $normalFont;

								&:before {
									content: "\3d";
								}
							}

							.rc-event-icon {
								width: 12px;
								height: 12px;
								font-size: 12px;
								position: absolute;
								right: 2px;
								top: 2px;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
		@include respond-to(large) {
			.rc-day-time {
				font-size: $mediumFont;
			}
		}
	}
}