@import '_mixins';
@import '_variables.scss';

.rc-noselect {
    -webkit-touch-callout: none;
    @include user-select(none);
}

.rc-calendar {
	display: block;
	width: 100%;
	height: 100%;
	font-size: $normalFont;

	a{
		cursor: pointer;
		color: $linkDefaultColor;
	}

	.rc-icon {
		&.rc-icon-close:after {
			content: "\2716";
		}

		&.rc-icon-left-arrow:before {
			content: "\2190";
		}

		&.rc-icon-right-arrow:before {
			content: "\2192";
		}
	}

	.rc-header {
		display: block;
		padding: 0 5px;

		div {
			display: inline-block;
		}

		& > div {
			margin-right: 15px;
		}

		.rc-arrows {
			font-size: $largeFonts;
			@include vertical-align();

			& > div {
				cursor: pointer;
			}
		}

		.rc-date{
			@include vertical-align();
		}

		.rc-month{
			@include selectbox-wrapper(130px);
			margin-right: 15px;
		}

		.rc-years{
			@include selectbox-wrapper(90px);
		}
	}

	.rc-scheduler {
		border: 2px solid $calendarBorderColor;
		display: block;

		.rc-day-header {
			height: $dayHeaderHeight;
			line-height: $dayHeaderHeight;
			text-align: center;
			background-color: $calendarHeaderBackColor;
			@include text-overflow(ellipsis);
			white-space: nowrap;

			&.small {
				display: none;
			}
			@include respond-to(medium) {
				&.small {
					display: block;
				}

				&.big {
					display: none;
				}
			}
		}

		.rc-day-cell {
			height: $dayCellHeight;

			&:nth-child(2n-1) {
				background-color: $oddRowBackColor;
			}
			&:nth-child(2n) {
				background-color: $evenRowBackColor;
			}
		}

		.rc-day-time {
			position: relative;

			.rc-event {
				background-color: $eventBackColor;
				border-radius: 5px;
				padding: 0;
				overflow: hidden;
				position: absolute;
				right: 0;
				left: 1px;

				.rc-time {
					$timeMarginTop: 4px;
					padding-right: 16px;
					padding-left: 4px;
					margin-top: $timeMarginTop;
					height: 1.1em;
					overflow: hidden;
					text-decoration: underline;
					@include text-overflow(ellipsis);
					white-space: nowrap;
					font-size: $normalFont;

					@include respond-to(large) {
						font-size: $mediumFont;
					}
					@include respond-to(medium) {
						font-size: $smallFont;
					}
					@include respond-to(small) {
						margin-top: $smallFont + $timeMarginTop;
						padding-right: 0;

						&.rc-readonly{
							margin-top: $timeMarginTop;
						}
					}
				}

				.rc-event-resizer {
					position: absolute;
					right: 0;
					left: 0;
					bottom: 0;
					height: $smallFont;
					line-height: $smallFont;
					text-align: center;
					cursor: s-resize;
					background-color: $eventBackColor;
					font-size: $normalFont;

					&:before {
						content: "\3d";
					}
				}

				.rc-event-icon {
					width: 12px;
					height: 12px;
					font-size: 12px;
					position: absolute;
					right: 2px;
					top: 2px;
					cursor: pointer;
				}
			}
		}

		.rc-timetable {
			float: left;
			& > div {
				text-align: center;
				line-height: $dayCellHeight;
			}

			width: $timetableWidth;
			min-width: $timetableMinWidth;

			@include respond-to(large) {
				width: $timetableSmallWidth;
				min-width: $timetableMinSmallWidth;
			}
		}

		.rc-days {
			margin-left: $timetableWidth;
			position: relative;
			font-size: 0;

			@include respond-to(large) {
				margin-left: $timetableSmallWidth;
			}

			.rc-day {
				border-left: 1px solid $calendarBorderColor;
				width: part-of($dayInWeek);
				display: inline-block;
				@include word-break("break-word");
				@include box-sizing(border-box);
				font-size: $normalFont;
			}
		}
		@include respond-to(large) {
			.rc-side-day-time {
				font-size: $mediumFont;
			}
		}
	}

	.rc-reccurencer {
		margin-top: 10px;

		div {
			display: inline-block;
		}

		.rc-ok-button{
			padding: 3px 6px;
			border: 2px solid $calendarBorderColor;
			background-color: $darkblue;
			color: #fff;
		}
		@include respond-to(medium) {
			div{
				display: block;
				margin: 5px 0;
			}

			.rc-ok-button{
				display: inline-block;
				margin-top: 5px;
			}
		}
	}
}